<br>
<a (click)="goBack()" class="p-button font-bold custom-button"> Back </a>
<br><br>

<div *ngIf="accessory$ | async as accessory">
    {{ accessory.serviceName }}:
    <br>

    <br>
    <div *ngFor="let property of accessory.serviceCharacteristics">
        @if(property.format == 'bool'){
            {{ property.description }} <br>
            <p-inputSwitch [(ngModel)]="property.value" (ngModelChange)="updateAccessory(property)"/>
        }
        @if(property.format == 'int' || property.format == 'float'){
            {{ property.description }} <br>
            <p-inputNumber 
            [(ngModel)]="property.value"
            (ngModelChange)="updateAccessory(property)"
            [showButtons]="true" 
            buttonLayout="vertical" 
            spinnerMode="vertical" 
            inputId="vertical"
            decrementButtonClass="p-button-secondary"
            incrementButtonClass="p-button-secondary" 
            incrementButtonIcon="pi pi-plus" 
            decrementButtonIcon="pi pi-minus"
            class="vertical-number-input"
            />
        }
    </div>
</div>